%body
  .top-header
    グループを作成しました
  .left-header
    .user
      mio_158cm
    .left-contents
      %ul.group-list
        %li.group-topic
          test-group
        %li.group-message
          さようなら
      %ul.group-list
        %li.group-topic
          sample-group
        %li.group-message
          hello!
      %ul.group-list
        %li.group-topic
          example
        %li.group-message
          まだメッセージがありません
  .right-header
    .select
      .select-group-name
        test-group
      .member-name
        Member:mio_158cm
    .right-header-box
      .right-header-button
        Edit
  .right-contents
    %ul.select-topic
      %li.comment-user
        mio_158cm
      %li.comment-date
        2019/05/10(Fri)07:53:23
      %li.comment
        こんにちは！
    %ul.select-topic
      %li.comment-user
        mio_158cm
      %li.comment-date
        2019/05/10(Fri)07:53:23
      %li.comment
        こんにちは！
  .space
  .bottom-contents
  .form
    .form-box
      .form-guide
        type a message
      .form-icon
      .form-send
        send
