    .header
    %p グループを作成しました
    .left-header
     .left-header__title
     test-user
     %ul.left-header__members
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名

      .right-header
        .button
          Edit
      .messages
        .message
        .message
        .message
        .form
          form
        %input.form__message
