 <body>
  <header class ="header">
 <p>グループを作成しました</p>
 <div class="left-header">
 <div class="right-header"></div>
  </header>

  <div class='messages'>
      <div class='message'>
      </div>
      <div class='message'>
      </div>
      <div class='message'>
      </div>
    <div class='form'>
      <form>
      </form>
    </div>
  </div>
</body>