  -# .left-contents
  -#     %ul.group-list
  -#       %li.group-topic
  -#         test-group
  -#       %li.group-message
  -#         さようなら
  -#     %ul.group-list
  -#       %li.group-topic
  -#         sample-group
  -#       %li.group-message
  -#         hello!
  -#     %ul.group-list
  -#       %li.group-topic
  -#         example
  -#       %li.group-message
  -#         まだメッセージがありません